@{
    ViewBag.Title = "Main Page";
}

<div style="border:2px solid;padding:22px;margin-top:40px" class="container">
    <div class="row" style="text-align:center;font-family:'Times New Roman'">
        <div class="col">
            <blockquote>
                <h2><strong>Bus Express Service</strong></h2>
                <h6>
                    Book cheap Bus Express bus tickets online, find schedules, prices, bus stations locations, services, promotions and deals.
                </h6>
                <h6>
                    Find and book the cheapest Bus Express bus tickets online with Busbud. Thanks to our large inventory and using our sorting and filtering features, you'll be able to find the best Bus Express fares easily.
                </h6>
                <h6>
                    We let you sort through Bus Express schedules and Bus Express bus ticket prices to find a deal suited to your individual needs.
                </h6>
                <h6>
                    Busbud shows you which amenities are included with your Bus Express bus for each individual departure.
                </h6>
                <h6>
                    We give you access to all available Bus Express bus routes to faciliate your Bus Express bus bookings.
                </h6>
                <h6>
                    Get the best available deal by using a promo code to obtain Bus Express discounts on tickets.
                </h6>
                <h6>
                    With information like Bus Express phone number or the closest Bus Express bus station, Busbud makes sure you get easy access to all the important information.
                </h6>
                <h6>
                    Busbud is proud to partner with Bus Express and to offer Bus Express services to travelers all over the world.
                </h6>
            </blockquote>
        </div>
    </div>
</div>
